/.pants.d/
/.pids/
/build-support/ivy/cache/*.css
/build-support/ivy/cache/*.properties
/build-support/ivy/cache/*.xml
/build-support/ivy/cache/*.xsl
/build-support/ivy/cache/**/ivydata-*.properties
/dist/
